<% if user_signed_in? && current_user.started_course?(course) %>
  <%= link_to path_course_path(course.path, course) do %>
    <div
      data-controller="progress"
      data-progress-url-value=<%= url %>
      data-progress-percent-value="0"
      data-progress-circumference-value="<%= circumference %>"
      data-progress-loading-value="false"
      data-progress-loaded-class="opacity-100"
      data-action="update-progress@window->progress#fetchProgress"
      data-test-id='progress-badge'
      class="inline-flex items-center justify-center rounded-full relative group h-28 w-28"
    >
      <svg height="100%" width="100%" class="overflow-visible" viewBox="0 0 20 20">
        <circle
          class="text-gray-200"
          stroke-width="1.3"
          stroke="currentColor"
          fill="transparent"
          r="9"
          cx="50%"
          cy="50%"
        />
        <circle
          class="text-odin-green my-one transform-gpu origin-center -rotate-90 transition-stroke-dashoffset ease-in duration-500"
          data-progress-target="progressCircle"
          stroke-width="1.4"
          stroke-linecap="round"
          stroke="currentColor"
          fill="transparent"
          style="<%= "stroke-dasharray: #{circumference}, #{circumference}; stroke-dashoffset: #{circumference};" %>"
          r="9"
          cx="50%"
          cy="50%"
        />
      </svg>
      <%= inline_svg borderless_badge, alt: "#{course.title} badge", class: "absolute z-20 bg-white rounded-full group-hover:opacity-0 #{show_badge?}" %>
      <span class="absolute">
        <div class="flex items-center justify-center space-x-0.5 animate-bounce hidden" data-progress-target="loading">
          <div class="w-2 h-2 bg-gray-200 rounded-full"></div>
          <div class="w-2 h-2 bg-gray-300 rounded-full"></div>
          <div class="w-2 h-2 bg-gray-400 rounded-full"></div>
        </div>
        <p class="transition-opacity delay-300 duration-500 ease-in-out opacity-0 text-sm text-gray-400 leading-5 break-words w-20 text-center font-semibold" data-progress-target="percentage"></p>
      </span>
    </div>
  <% end %>
<% else %>
  <%= link_to path_course_path(course.path, course) do %>
    <div class="shadow-md h-28 w-28 rounded-full" data-test-id='default-badge'>
      <%= image_tag badge, alt: "#{course.title} badge", class: 'course-badge__image' %>
    </div>
  <% end %>
<% end %>
